* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
}

body, input {
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    background-color: #f1f1f1;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

p, input {
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;

}

input {
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

textarea {
    width: 100%;
    border-color: rgba(3, 3, 3, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

::placeholder{
    color: rgba(3, 3, 3, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}