* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    margin: 1rem 0 1rem 0;
}

body, input {
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

p, input {
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
}

input {
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}